<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Corredorbioceanico" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Corredor\CorredorBioceanico\env\Scripts\python.exe|C:\Corredor\CorredorBioceanico\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
