{% extends "transporte/base.html" %}

{% block content %}

<h4 class="mb-4 text-danger">
    <i class="bi bi-exclamation-triangle-fill"></i>
    Confirmar eliminación
</h4>

<p>¿Está seguro que desea eliminar el vehículo <strong>{{ vehiculo }}</strong>?</p>

<form method="POST">
    {% csrf_token %}

    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Eliminar
    </button>

    <a href="{% url 'vehiculo_list' %}" class="btn btn-secondary">
        Cancelar
    </a>
</form>

{% endblock %}
