{% extends 'transporte/base.html' %}

{% block content %}
<h3 class="mb-4"><i class="bi bi-truck-front-fill"></i> Viajes</h3>



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Salida</th>
            <th>Chofer</th>
            <th>Vehículo</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for viaje in viajes %}
        <tr>
            <td>{{ viaje.origen }}</td>
            <td>{{ viaje.destino }}</td>
            <td>{{ viaje.fecha_salida }}</td>
            <td>{{ viaje.chofer }}</td>
            <td>{{ viaje.vehiculo }}</td>
            <td>{{ viaje.get_estado_display }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}