{% extends 'transporte/base.html' %}

{% block content %}
  
    <!-- SECCIÓN CORREDOR (sin fondo) -->
    <section class="py-2">
        <div class="container text-center">
            <h4 class="text-center fw-bold mb-2 text-primary">CapriTech Tecnología a tu alcance</h4>

            <p class="text-center mx-auto" style="max-width: 800px;">
                Pensamos en vos, y estamos para ayudarte, con esta plataforma vas a poder
                supervisar tus vehículos durante todo el recorrido, conocer ubicaciónes exactas y recibir
                información clave para la toma de decisiones, ademas de agilizar procesos con la implementacion
                de generacion de reportes, reflejando asi tu esfuerzo y compromiso que es de vital importancia.
                Una herramienta creada para proveer de informacion y simplicidad y de este modo impulsar a el 
                desarrollo colectivo de esta gran empresa.
            </p>


                 <div class="row mt-3 justify-content-center">
                    <!-- Imagen 1 -->
                     <div class="col-md-6 text-center">
                        <img src="/static/img/mapa_corredor.png"
                        alt="Mapa Corredor"
                        class="img-fluid"
                        style="max-width: 80%; height: auto;">
                    </div>
                    <!-- Imagen 2 (la nueva) -->
                     <div class="col-md-6 text-center">
                        <img src="/static/img/imagen2.jpg"
                        alt="Imagen adicional"
                        class="img-fluid"
                        style="max-width: 80%; height: auto;">
                    </div>
                </div>

        </div>
    </section>

{% endblock %}
