{% extends 'transporte/base.html' %}

{% block content %}
  
<section class="py-3 text-center">

    <h4 class="home-title">
        CapriTech – Tecnología a tu alcance
    </h4>

    <p class="home-text mx-auto">
        Pensamos en vos y estamos para ayudarte. Con esta plataforma vas a poder supervisar tus vehículos 
        durante todo el recorrido, conocer ubicaciones exactas y recibir información clave para la toma de decisiones. 
        Una herramienta creada para simplificar procesos y potenciar el crecimiento colectivo de esta gran empresa.
    </p>

    <!-- Carrusel de novedades -->
    <div id="carouselNovedades" class="carousel slide carrusel-capritech" data-bs-ride="carousel">

        <!-- Indicadores -->
        <div class="carousel-indicators">
            {% for item in novedades %}
                <button type="button" data-bs-target="#carouselNovedades"
                        data-bs-slide-to="{{ forloop.counter0 }}"
                        {% if forloop.first %}class="active"{% endif %}>
                </button>
            {% endfor %}
        </div>

        <!-- Imágenes -->
        <div class="carousel-inner">
            {% for item in novedades %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ item.imagen.url }}" class="d-block w-100"
                     style="max-height: 420px; object-fit: cover;">
                <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50 p-2 rounded">
                    <h5>{{ item.titulo }}</h5>
                    <p>{{ item.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Flechas -->
        <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselNovedades" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>

        <button class="carousel-control-next" type="button"
            data-bs-target="#carouselNovedades" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>

    </div>

</section>


{% endblock %}

